
#menu-item1:active {
    transform: scale(.98);
}
.anncElementContainer {
    display: flex;
    justify-content: right;
    visibility: hidden;
    background: rgba(173, 173, 173, 0.7);
    opacity: 0;
    position: fixed;
    transition: opacity 500ms;
    z-index: 999;
    overflow-y: scroll ;
    min-height: 100%;
    width: 100%;
    right:0;
}

